﻿@{
    ViewData["Title"] = "Home";
}

@model CodedWebTest.Models.IndexModel
@Html.ValidationSummary(true)


<div class="text-center">
    <h1>Welcome</h1>
</div>

<p class="text-center mt-5">Please enter your email address below</p>



<div class=" justify-content-center align-items-center container ">



    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "EmailForm", @class = " text-center" }))
    {
        <div class="d-grid  d-sm-inline  ">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "mb-3 ",  @placeholder = "Email Address" })
        </div>

        <div class="mb-3">
            <div class="d-grid  d-sm-inline  ">

                @*
                    COMPLETED: Add HTML button to send the email to /Home/CheckEmail
                    COMPLETED: Add HTML button to send the email to /Home/SaveEmail
                    COMPLETED: Add HTML button to request the email from /Home/GetEmail
                *@

                <button type="button" value="CheckEmail" onclick="submitProfileFunction('checkEmail')" class="btn btn-primary m-1 ">Check Email</button>
                <button type="button" value="AddEmail" onclick="submitProfileFunction('saveEmail')" class="btn btn-success  m-1">Add Email</button>
                <button type="button" value="GetEmail" onclick="submitProfileFunction('getEmail')" class="btn btn-warning  m-1 ">Get Email</button>


            </div>

        </div>
    }





</div>



<div class="modal" id="EmailMessageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5  id="statusModal" class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="messageModal"> </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





@section Scripts
{

    <script type="text/javascript">

        function submitProfileFunction(e) {

            var formData = $('#EmailForm').serialize()

            $.ajax({
                url: 'home/' + e + "/", 
                type: "POST",
                data: formData,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', 
                success: function (data) {
                    $("#messageModal").text(data.message);
                    $("#statusModal").text(data.status);
                    $('#EmailMessageModal').modal('show');
                },
                error: function (str) {
                    alert("Whoops! There was an issue retreiving your request.");
                }
            });
            
        };
    </script>
    @*

    *@
}
